<!-- templates/test_variable_types.html -->
{%  extends "base.html" %}
{%  import "macros.html" as macro %}

{% block page_title %}Testing Variables{% endblock %}

{% block page_content %}
    {{ macro.render_title("1. Variable Types: dict, list, my_instance, my_class") }}

    <p>my_dict["key"] = {{ my_dict["key"] }}</p>
    <p>my_list[3] = {{ my_list[3] }}</p>
    <p>my_list[my_int_var](my_int_var={{ my_int_var }}) = {{ my_list[my_int_var] }}</p>
    <p>my_instance.method1() = {{ my_instance.method1() }}</p>
    <p>my_instance.method2() = {{ my_instance.method2() }}</p>
    <p>my_instance.method3(5) = {{ my_instance.method3(5) }}</p>
    <p>my_class.method2() = {{ my_class.method2() }}</p>
    <p>my_class.method3(10) = {{ my_class.method3(10) }}</p>
    <br/>

    {{ macro.render_title("2. Jinja2 does not support all python syntax") }}
    <p>my_list length: { { len(my_list) } } <-- not work</p>
    <br />

    {{ macro.render_title("3. Variables can be modified with filters(pi>pe character as separator)") }}
    <h4>3.1 test "length"</h4>
    <p>my_list length: {{ my_list|length }}</p>
    <br/>

    <h4>3.2 test "safe" and "striptags"</h4>
    {{ macro.set_text_color("code", "#4FB7C8") }}
    <p>  {{ code }}</p>
    <br/>

    {{macro.set_text_color("code|safe", "#4FB7C8")}}
    <p>  {{ code|safe }}</p>
    <br/>

    {{macro.set_text_color("code|striptag", "#4FB7C8")}}
    <p>  {{ code|striptags }}</p>
    <br/>

    <h4>Common filters</h4>
    <ul>
        {{ macro.render_dict_value("safe","Renders the value without applying escaping") }}
        {{ macro.render_dict_value("capitalize","Converts the first character of the value to uppercase and the rest to lowercase") }}
        {{ macro.render_dict_value("lower","Converts the value to lowercase characters") }}
        {{ macro.render_dict_value("upper","Converts the value to uppercase characters") }}
        {{ macro.render_dict_value("title","Capitalizes each word in the value") }}
        {{ macro.render_dict_value("trim","Removes leading and trailing whitespace from the value") }}
        {{ macro.render_dict_value("striptags","Removes any HTML tags from the value before rendering") }}
    </ul>
{% endblock %}